@import url('https://fonts.cdnfonts.com/css/avenir');


body {
    text-align: center;
    font-family: 'Avenir';
    background-color: #000000;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: rgb(34, 33, 33);
    width: 100%;
    z-index: 100%;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    background: #333333;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentheader {
    height: 60vh;
    background: url(img/fondo1.avif) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 20px 40px;
    border: 2px solid #43beb4;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: #43beb4;
    align-items: center;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
    padding-left: 790px;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentsau {
    padding: 30px;
    background: #333333;
    display: flex;
    justify-content: space-between;
}

.contentsau p{
    padding-top: 60px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #000000;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background: #43beb4;
    font-size: 2rem;
    margin: 1rem 0;
}


.box-container .box h3 {
    font-size: 20px;
    color: #43beb4;
}

.box-container .box p{
    font-size: 16px;
    padding: 0 15px;
}

.contentabout {
    background: url(img/fondo3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contentprice {
    background: url(img/fondo2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contentcontact {
    padding-top: 20px;
    background: #000000;
    padding-bottom: 0;
}

.form {
    color: white;
    text-align:center;
    margin: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}