@import url('https://fonts.cdnfonts.com/css/avenir');


body {
    padding-top: 10%;
    font-family: 'Avenir';
    background: url(img/fondo4.avif) no-repeat center;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: x-large;
}