@import url('https://fonts.cdnfonts.com/css/avenir');


body {
    padding-top: 20px;
    font-family: 'Avenir';
    background: url(img/fondo4.avif) no-repeat center;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: x-large;
}

.marcas {
    display: flex;
    gap: 100px;
    padding-left: 500px;
    padding-top: 50px;
}

.marca {
    background-color: rgb(0, 0, 0);
    border-radius: 10%;
}

.marca img {
    width: 150px;
    padding-top: 15px;
    border-radius: 10%
}

.marca:hover {
    background-color: gray;
    transform: translateY(-10px);
}