@import url('https://fonts.cdnfonts.com/css/avenir');


body {
    text-align: center;
    font-family: 'Avenir';
    background: url(img/fondo4.avif) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

h1 {
    padding-top: 10px;
    font-size: 150px;
}

footer {
    padding-top: 150px;
}