@import url('https://fonts.cdnfonts.com/css/avenir');


body {
    text-align: center;
    font-family: 'Avenir';
    background: url(img/fondo4.avif) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.blogs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    padding-top: 150px;
}

a:hover {
    background: rgb(0, 247, 255);
}