@import url('https://fonts.cdnfonts.com/css/avenir');


body {
    text-align: center;
    font-family: 'Avenir';
    background: url(img/fondo4.avif) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

header {
    background: gray;
    background-size: cover;

}

.blogs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    padding-top: 150px;
}

.blogx {
    background: gray;

}

.blogx a {
    text-decoration: none;
    color: white;
}

.blogx a:hover {
    color: black;
}